@media all and (max-width: 768px){
    .filtres{
        width: 100%;
        margin-bottom: 15px;
     }

     .filtresBttn{
         margin-bottom: 15px;
     }

    /*****>>>>>>header**************/
    .inscription{
        position: absolute;
        width: auto;
        top: 40px;
        right:15px;
    }

    /************header>>>>>>>>**********/





    /*****>>>>>barre de navigation********/
        

    nav ul
    {width: 100%;
        padding: 0;
    }

    nav{
        width: 100%;
    }

    nav li{
        width: 50%;
        text-align: center;  
    }

    nav li a{
        display: block;
        width: 100%;
        }

    nav ul li a:hover{
        border-bottom: 3px #0065FC solid ;
        border-top: inherit;
    }

    nav ul li a{
        border-bottom: 2px #DEEBFF solid;
        padding: 0 0 20px 0;
        
    }
    .boutonRecherche{
        display: none;


    }

    .boutonRechercheIcone{
        display: block;
        border: 3px solid #0065FC;
        padding: 8px 20px;
        background-color: #0065FC;
        color: #DEEBFF;
        font-size: 1.3em;
        border-radius: 5px;
        }
        


/*******barre de navigation>>>>>>>*******/ 

/******>>>>>>>>hebergement à marseille*****/

.box{
    display:block;
}

/**************hebergement à marseille****/