
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
    
}

/* header*/

header{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  

}
#TitreSite img{
  width:150px;
}

/*nav*/

nav ul li a{
  color:gray;
  text-decoration: none;

}

 nav ul li a:hover{
    color:#0065FC;
    border: 1px 0px 0px 0px ;
    border-color: #0065FC;
    border-style: solid;
    padding: 20px;


  }

 nav ul{
   display: flex;
   font-size: 1.3em;
   list-style-type: none;
   
   
   
  }
 nav ul li{
    
    list-style-type: none;
    margin-right: 15px;
    font-weight: bold;

    

  }

  section{
    
  }