
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
 
body{
    font-family: 'Raleway', sans-serif;
    padding: 20px 30px;
   
    
}

/*****************>>> header********************/

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding:8px 12px;
  
  

}
#TitreSite img{
  width: 200px;px;
  
}
/***************header>>>****************************/

/****************>>>barre de navigation******************/
nav{
  display: flex;
  align-items: center;
  
}
ul {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

nav ul li a{
  color:#5D6D7E;
  text-decoration: none;
  padding:20px 25px 20px 0;
  width: 50%;

}
nav ul li a:hover{
border-top: solid 3px #0065FC ;
padding-top: 40px;
}


    
  
  

 nav ul{
   display: flex;
  
   
   
   
  }
 nav ul li{
    
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5em;

    

  }

 .inscription { 
   color: #0065FC;
   text-decoration: none;
   font-size: 1.5em;

  }





/*****************barre de navigation>>>************************/
p{
  font-weight: bold;
  color: #5D6D7E;
}

/****************>>>barre de recherche***************/
.blocRecherche{
display: flex;
margin:10px 0 20px;
height: 45px;
}

.fa-map-marker-alt{
  display: block;
  border: solid 2px #f2f2f2;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px 0 0 10px;
}

.zoneRecherche{
border:#f2f2f2 solid 3px ;
padding: 10px ;
font-weight: bold;
color: black;
font-size: 20px;
font-family: 'Raleway', sans-serif;
}

.boutonRecherche{
  color: #ffffff;
  background-color:#0065FC ;
  border:none ;
  border-radius:0 10px 10px 0 ;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  width: 200px;
  font-size: 1.3em;
  

  
  
}





/****************barre de recherche>>>*************************/



/*********************>>>filtres ****************************/

section p{
  display: flex;
}

.lesfiltres{
  display: flex;
  font-weight: bold;

  
}
.filtres{
  padding: 10px 50px;;
  
}

.Economique {

  padding: 10px 20px;
  border: solid 4px #f2f2f2;
  border-radius: 20px;
  margin-right: 10px;
}

.fas fa-money-bill-wave{
  border-radius: 10px;
  background-color: #0065FC;
  width: ;: auto;
}

.Familial{
  padding:10px 20px ;
  border: solid 4px #f2f2f2;
  border-radius: 20px;
  margin-right: 10px;
}

.Romantique{
  padding: 10px 20px;
  border: solid 4px #f2f2f2;
  border-radius: 20px;
  margin-right: 10px;
  
}


.AnimauxAutorisés{
  padding: 10px 20px;
  border: solid 4px #f2f2f2;
  border-radius: 20px;
}

/********************filtres>>>******************************/
  
/************>>>hebergementMarseille*************/

.HébergementsMarseille{
  display: block;
  padding: 5px 10px;
  width: 50%;
  height: 60px;
  background-color:#B9C5D2;
  border-radius: 10px;

}

/************hebergementMarseille>>>************/

  



